* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 1fr;
}

header {
  grid-area: 1 / 3 / 2 / 11;
  margin: auto;
}

.nameBox {
  grid-area: 1 / 2 / 2 / 4;
  align-self: end;
  margin-bottom: 10px;
}

.table {
  grid-area: 2 / 2 / 6 / 7;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  text-align: center;
  margin-bottom: 50px;
}

.start-button {
  grid-area: 2 / 7 / 3 / 11;
  margin: auto;
}

.throws {
  grid-area: 2 / 7 / 3 / 11;
  align-self: end;
  padding-bottom: 50px;
  font-size: 20px;
  text-align: center;
}

.dicegrid {
  grid-area: 3 / 7 / 4 / 11;
}

.diceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.dice {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

img {
  height: 70px;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

.game-buttons {
  grid-area: 4 / 7 / 5 / 11;
  margin: 40px auto auto auto;
  display: flex;
  flex-direction: column;
}

.sum-buttons {
  grid-area: 5 / 7 / 6 / 11;
  margin: auto;
}

.game-buttons > button {
  background-color: #4caf50;
  border: lightgray solid 0.5px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.game-buttons > button:hover {
  background-color: rgb(4, 107, 50);
  color: white;
  transition: color 0.7s ease-in, background-color 250ms ease-in;
}

.game-buttons > button:active {
  font-size: 22px;
  transition: font-size 0.1s ease-in-out;
}

.game-buttons > button:disabled {
  font-size: 22px;
  transition: font-size 0.1s ease-in-out;
  opacity: 50%;
}

#btnDone {
  background-color: #100f5c;
  margin-top: 30px;
}

.sum-buttons > button {
  background-color: rgb(65, 62, 62);
  border: lightgray solid 0.5px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.sum-buttons > button:hover {
  background-color: rgb(167, 155, 155);
  color: black;
  transition: color 250ms ease-in, background-color 250ms ease-in;
}

.sum-buttons > button:active {
  font-size: 22px;
  transition: font-size 0.1s ease-in-out;
}

.start-button > button {
  background-color: #4caf50;
  border: lightgray solid 0.5px;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 400;
  padding: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.start-button > button:hover {
  background-color: rgb(4, 107, 50);
  color: white;
  transition: color 0.7s ease-in, background-color 250ms ease-in;
}

.start-button > button:active {
  font-size: 45px;
  transition: font-size 0.1s ease-in-out;
}

th {
  padding: 5px;
  border: solid 1px black;
}

td {
  border: solid 1px black;
  font-weight: 100;
  /* padding: 5px; */
  background-color: white;
  /* background: lightgrey; */
  height: 2.2rem;
}

.boldBorder {
  border: 2px solid black;
}

.lightGray > th > input {
  background-color: lightgray;
}

.lightGray > th,
input {
  background-color: lightgray;
}

.darkGray > td {
  background-color: darkgray !important;
  font-weight: bold;
}

input {
  width: 100%;
  border: none;
  background-color: white;

  position: relative;
  text-align: center;
  font-size: 1.2em;
}

input[type="number"] {
  height: 100%;
}

col {
  width: 100px;
}

.active {
  background-color: lightgreen;
}

.hidden {
  display: none;
}

.throws > span {
  color: red;
}

thead > tr > th > input {
  cursor: pointer;
}

::placeholder {
  color: black;
  opacity: 1;
}

.lightGray > th > input:hover {
  background-color: rgb(100, 170, 100) !important;
  transition: color 250ms ease-in, background-color 250ms ease-in;
}
