* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
  padding: 5px;
  border: solid 1px black;
} 

td {
  border: solid 1px black;
  font-weight: 100;
  padding: 5px;
  background-color: white;
  /* background: lightgrey; */
}

/* td:nth-child(even) {
  background: lightgrey;
}

td:nth-child(odd) {
  background: white;
} */

table {
  border-collapse: collapse;
  border: 3px solid black;
  max-width: 50%;
  margin: 20px auto;
}

.boldBorder {
  border: 2px solid black;
}

.lightGray >
th > input {
  background-color: lightgray;
}

.lightGray >
th, input {
  background-color: lightgray;
}


.darkGray > tr > td{
  background-color: darkgray !important;
  font-weight: bold;
}


input {
  width: 100%;
  border: none;
  background-color: white;
}

col {
  width: 100px;
}

.active {
  background-color: lightgreen;
}
.diceConatiner {
  display: flex;
  justify-content: center;
  align-items: center;
}
